html, body {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif", serif;
  margin: 0;
}

h1 {
  font-size: 20vh;
  color: #fff;
}

p, ul {
  margin: 0;
}

ul {
  list-style: none;
}

.text-block {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.vertical-text {
  -moz-transform-origin: 0 50%;
  -moz-transform: rotate(-90deg) translate(-50%, 50%);
  -webkit-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  -o-transform-origin: 0 50%;
  -o-transform: rotate(-90deg) translate(-50%, 50%);
  -ms-transform-origin: 0 50%;
  -ms-transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
}

.vertical-text-tb {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
  display: inline;
}

.nav-link {
  font-size: 14px;
  color: #ffffff;
  font-family: "Noto Sans";
  font-weight: 400;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 80%;
  margin-left: -80%;
  top: 50%;
}

.nav-link:hover {
  -webkit-filter: drop-shadow(0 0 20px white);
          filter: drop-shadow(0 0 20px white);
}

.nav-link:hover::after {
  box-shadow: 0px 0px 27px 10px rgba(255, 255, 255, 0.61);
  -webkit-box-shadow: 0px 0px 27px 10px rgba(255, 255, 255, 0.61);
  -moz-box-shadow: 0px 0px 27px 10px rgba(255, 255, 255, 0.61);
}

.nav-item {
  font-size: 14px;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler .fa-bars {
  color: #fff;
  font-size: 3rem;
}

.navbar-toggler:focus {
  border-color: transparent;
}

.main-banner {
  height: 909px;
  background: url(../img/01_main_photo.png) no-repeat center top;
  background-size: cover;
}

.main-banner h1 {
  font-size: 13vw;
  margin-top: 15%;
  line-height: 13vw;
  color: #ffffff;
  font-family: "Noto Serif";
  font-weight: 400;
}

.main-banner .container-fluid {
  padding-right: 90px;
  padding-left: 90px;
}

.main-banner .navbar {
  height: 50px;
  padding-top: 25px;
  padding-left: 0;
}

.main-banner-text {
  padding: 18px 0 55px 0;
  height: 218px;
}

.main-banner-text div:last-child p {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}

.main-banner-text div:nth-child(2) {
  padding-left: 169px;
}

.main-banner-text .vertical-text {
  display: inline-block;
  height: 146px;
  font-weight: 700;
}

.date {
  font-size: 14px;
  color: #0327e2;
  font-weight: 600;
}

.annotation {
  font-size: 14px;
  line-height: 21px;
  color: #0327e2;
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
}

.mens-shop img:nth-child(2) {
  margin-top: -386px;
  margin-left: 68px;
}

.mens-shop h3 {
  margin-top: 147px;
  float: left;
}

.best-works h3 {
  color: #f020af;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 44px;
}

.best-works h5 {
  font-size: 18px;
  line-height: 30px;
  color: #0327e2;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin-bottom: 41px;
}

.mens-shop .work-desciption {
  display: inline-block;
  padding-top: 186px;
  padding-left: 43px;
}

.mens-shop h3 {
  margin-left: 55px;
}

.date-left {
  float: left;
  position: absolute;
  bottom: 270px;
  left: 80px;
}

.date-right {
  display: inline;
}

.best-logo {
  position: relative;
}

.best-logo h3 {
  white-space: nowrap;
  margin: 0;
}

.best-logo .work-title {
  margin-left: 25%;
}

.best-logo .work-desciption {
  margin-left: 190px;
  width: 300px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 210px;
}

.best-logo .work-desciption h5 {
  width: 300px;
  display: inline-block;
}

.best-logo .work-desciption .text-block {
  display: inline-block;
}

.best-logo .annotation {
  display: inline-block;
  width: 9%;
  margin-left: 20px;
}

.best-logo .bp {
  margin-left: 9.5%;
  width: 370px;
  display: inline-block;
}

.best-logo .best-logo-block2 {
  margin-top: -11.2%;
}

.best-banners {
  margin-top: -110px;
  margin-bottom: 140px;
}

.best-banners .order-0 {
  margin-left: -130px;
  z-index: 3;
}

.best-banners .order-1 {
  padding-top: 170px;
  z-index: 5;
}

.best-banners .order-2 {
  margin-top: -37px;
}

.best-banners .order-2 .img-block {
  padding-left: 97px;
  float: left;
}

.best-banners .order-2 .work-desciption {
  width: 27%;
  padding-top: 72px;
  margin-left: 240px;
}

.best-banners h3 {
  display: inline;
  margin-top: 45px;
  padding-left: 135px;
  float: left;
}

.best-banners .date-right {
  margin-top: 45px;
  margin-left: 270px;
}

.best-banners .annotation {
  padding-bottom: 25px;
}

.more-works-main h3 {
  color: #f020af;
  font-size: 48px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 44px;
}

.work-picker {
  margin-bottom: 60px;
}

.work-picker ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work-picker li {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  width: 81px;
}

.work-picker .filter-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  font-family: "Noto Sans";
  font-weight: 400;
}

.work-picker .filter-btn:hover {
  color: #0327e2;
}

.work-picker .filter-btn:focus {
  outline: none;
}

.work-picker .filter-active {
  color: #0327e2;
  border-radius: 15px;
  border: 1px solid #0327e2;
  width: 80px;
}

.work-tmbl {
  position: relative;
}

.work-tmbl p {
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.aboutme-main h3 {
  color: #f020af;
  font-size: 48px;
}

.aboutme-main h3:first-child {
  width: 341px;
  margin-top: 86px;
  font-weight: 700;
  margin-left: 60px;
}

.aboutme-main h5 {
  color: #0327e2;
  font-size: 18px;
  font-weight: 700;
}

.aboutme-main .knowledges-text {
  position: relative;
}

.aboutme-main .knowledges-text .vertical-text {
  position: absolute;
  left: 0;
  top: 55px;
}

.aboutme-main .knowledges-img {
  padding-left: 93px;
}

.aboutme-section2 {
  margin-top: -120px;
}

.aboutme-main .aboutme-exp-text {
  padding-left: 30px;
}

.contacts-main {
  margin-bottom: 86px;
  margin-top: -25px;
}

.contacts-main h3 {
  color: #f020af;
  font-size: 48px;
  font-weight: 700;
}

.contacts-main i {
  color: #f020af;
}

.contacts-main a {
  color: #0327e2;
}

.contacts-main .contact-icons {
  display: inline;
}

.contacts-main .container .row:first-child {
  padding-bottom: 98px;
}

footer {
  height: 300px;
  background-image: linear-gradient(9deg, #0327e2 0%, #d014af 100%);
}

footer .navbar {
  padding-top: 98px;
  height: 148px;
  padding-left: 0;
}

footer .navbar-nav {
  padding-left: 138px;
}

footer .brand-name {
  font-size: 50px;
  color: #ffffff;
  font-family: "Noto Serif";
  font-weight: 400;
  margin-left: 1rem;
}

.footer-text {
  font-size: 14px;
  color: #ffffff;
  font-family: "Noto Sans";
  font-weight: 400;
  margin-top: 110px;
}

@media (min-width: 1200px) {
  .main-banner .container {
    max-width: 1300px;
  }
}

@media (max-width: 1280px) {
  .main-banner h1 {
    margin-top: 19%;
  }
  .main-banner-text {
    margin-top: 109px;
  }
  .main-banner-text div:nth-child(2) {
    padding-left: 0;
  }
  .container-fluid {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 765px;
  }
  .main-banner h1 {
    font-size: 150px;
    line-height: 150px;
    margin-top: 130px;
  }
  .main-banner-text .vertical-text {
    height: 62px;
    width: 106%;
  }
  .main-banner-text div:last-child {
    padding-bottom: 32px;
  }
  .mens-shop .work-desciption {
    padding-top: 30px;
    padding-left: 0;
  }
  .mens-shop .work-desciption .text-block {
    width: 600px;
  }
  .best-logo {
    margin-top: 100px;
  }
  .best-logo .work-title {
    position: relative;
    left: unset;
    top: unset;
    margin-left: 0;
  }
  .best-logo h3 {
    position: absolute;
    top: 110px;
    width: unset;
  }
  .best-logo .work-title img {
    margin-left: 109px !important;
  }
  .best-logo .work-desciption {
    margin-top: 159px;
    padding-left: 0;
    margin-left: 0;
  }
  .best-logo .work-desciption .text-block {
    width: 260px;
  }
  .best-logo .date-left {
    bottom: 30px;
    left: unset;
    right: 344px;
  }
  .best-logo .bp {
    margin-left: 15px;
    padding-top: 0;
    margin-top: -47px;
  }
  .best-logo .annotation {
    margin-right: unset;
    height: 15%;
    width: 16%;
    margin-top: -138px;
    margin-left: -368px;
  }
  .best-banners {
    margin-top: 130px;
  }
  .best-banners .order-0 {
    margin-left: 0;
    position: relative;
  }
  .best-banners .order-0 img {
    width: 655px !important;
    height: auto;
    float: right;
  }
  .best-banners h3 {
    float: right;
    margin-top: 15px;
    padding-left: 0;
  }
  .best-banners .order-1 {
    padding-top: 0;
    margin-top: -402px;
    position: relative;
  }
  .best-banners .order-1 .annotation {
    position: absolute;
    bottom: -66px;
  }
  .best-banners .order-1 img {
    width: 560px;
    height: auto;
  }
  .best-banners .order-2 {
    margin-top: 30px;
  }
  .best-banners .order-2 .img-block {
    float: right;
    padding-left: 0;
  }
  .best-banners .order-2 .work-desciption {
    width: 40%;
    padding-top: 0;
    margin-left: 0;
    padding-top: 40px;
  }
  .best-banners .date-right {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    bottom: -335px;
    left: 42%;
  }
  .work-tmbl img {
    width: inherit;
  }
  .aboutme-main h3:first-child {
    margin-left: 0;
  }
  .aboutme-main .knowledges-text {
    padding-top: 176px;
  }
  .aboutme-main .knowledges-text .vertical-text {
    top: unset;
    bottom: 53px;
  }
  .aboutme-main .knowledges-img {
    padding-left: 0;
  }
  .contacts-main {
    margin-top: 80px;
  }
  .contact-phones {
    text-align: center;
    font-size: 24px !important;
  }
  .contact-phones i {
    margin-right: 1rem;
    font-size: 2rem;
  }
  .contact-phones div:first-child {
    margin-bottom: 40px;
  }
  footer .navbar {
    padding-top: 50px;
    height: 115px;
  }
  footer .brand-name {
    width: 80%;
    margin-left: 0;
    margin-top: -119px;
  }
  footer .navbar-nav {
    margin-top: -66px;
    text-align: right;
    padding-left: 0;
  }
  footer .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .footer-text {
    margin-top: 133px;
  }
}

@media (max-width: 320px) {
  .container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .main-banner {
    height: 480px;
    background: unset;
    background-size: cover;
    background: #f020af;
    background-image: linear-gradient(39deg, #d014af 0%, #0022e7 100%);
  }
  .main-banner h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 80px;
  }
  .main-banner-text .vertical-text {
    -moz-transform-origin: unset;
    -moz-transform: unset;
    -webkit-transform-origin: unset;
    -webkit-transform: unset;
    -o-transform-origin: unset;
    -o-transform: unset;
    -ms-transform-origin: unset;
    -ms-transform: unset;
    transform-origin: unset;
    transform: unset;
  }
  .main-banner-text {
    margin-top: 0;
  }
  .main-banner-text div:nth-child(2) {
    padding-left: 0;
    padding-bottom: 0;
  }
  .mens-shop img:nth-child(1) {
    display: none;
  }
  .mens-shop img:nth-child(2) {
    margin-top: 0;
    margin-left: -15px;
    width: 320px;
  }
  .mens-shop h3 {
    margin-left: -3px;
    margin-top: 119px;
    margin-bottom: 0;
  }
  .annotation {
    font-size: 12.5px;
  }
  .mens-shop .work-desciption {
    padding-top: 0;
    padding-left: 0;
    margin-top: -50px;
  }
  .mens-shop .work-desciption .text-block {
    width: 290px;
  }
  .mens-shop .date-right.vertical-text-tb {
    -webkit-writing-mode: inherit !important;
    -ms-writing-mode: inherit !important;
        writing-mode: inherit !important;
    display: block;
  }
  .mens-shop .date-right {
    position: unset !important;
    text-align: right;
  }
  .best-logo .work-title {
    margin-left: 0;
  }
  .best-logo .best-logo-block2 {
    margin-top: 0;
  }
  .best-logo .work-desciption {
    margin-left: 0;
    vertical-align: unset;
  }
  .best-logo .annotation {
    margin-right: 0;
    width: 32%;
    margin-top: 20px;
    margin-left: 40%;
  }
  .best-logo .bp {
    padding-top: 47px;
    width: 320px;
  }
  .best-logo .work-desciption {
    margin-top: 46px;
    width: 100%;
  }
  .best-logo .work-desciption .text-block {
    width: 100%;
  }
  .best-logo .date-left.vertical-text {
    position: absolute;
    bottom: -41px;
    right: 14px;
    -moz-transform-origin: unset;
    -moz-transform: unset;
    -webkit-transform-origin: unset;
    -webkit-transform: unset;
    -o-transform-origin: unset;
    -o-transform: unset;
    -ms-transform-origin: unset;
    -ms-transform: unset;
    transform-origin: unset;
    transform: unset;
  }
  .best-banners .order-1 {
    margin-top: -263px;
  }
  .best-banners .order-1 img {
    margin-left: -151%;
  }
  .best-banners .order-2 {
    padding-bottom: 300px;
  }
  .best-banners .order-2 .work-desciption {
    width: 100%;
  }
  .best-banners .order-2 .work-desciption .text-block {
    width: 100%;
  }
  .best-banners .order-2 .img-block {
    position: relative;
  }
  .best-banners .order-2 .annotation {
    position: absolute;
    top: 545px;
    right: 72px;
    text-align: unset !important;
    width: 200px !important;
  }
  .best-banners .banner-3 {
    position: absolute;
    top: 285px;
    right: -55px;
  }
  .best-banners .date-right.vertical-text-tb {
    bottom: -781px;
    left: 68%;
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
  }
  .more-works-main .work-picker {
    margin-bottom: 15px;
  }
  .more-works-main .work-picker ul {
    display: unset;
    padding: 0;
  }
  .more-works-main .work-picker li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.3rem;
    width: 127px;
    display: inline-block;
  }
  .aboutme-photo1 {
    margin-bottom: 182px;
  }
  .aboutme-section2 {
    margin-top: -487px;
  }
  .aboutme-main .knowledges-img {
    width: 290px;
    padding-left: 10px;
  }
  .aboutme-main .knowledges-img img {
    width: inherit;
  }
  .aboutme-main .text-block {
    width: 100%;
  }
  .aboutme-main .knowledges-text {
    padding-top: 245px;
  }
  .aboutme-main .aboutme-exp-text {
    padding-left: 15px;
  }
  .aboutme-main h3:first-child {
    margin-top: 13px;
  }
  .aboutme-main .knowledges-text .vertical-text {
    left: 13px;
    bottom: 77px;
  }
  .contacts-main .contact-icons {
    display: block;
    font-size: 60px;
  }
  .contacts-main a.facebook span {
    display: none;
  }
  .contacts-main a.facebook {
    font-size: 60px;
  }
  .contact-phones div:first-child {
    margin-bottom: 0;
  }
  .contacts-main .container .row:first-child {
    padding-bottom: 30px;
  }
  .contacts-main .telegram-phone a {
    display: block;
  }
  .contacts-main {
    margin-bottom: 65px;
  }
  footer {
    height: 438px;
  }
  footer .brand-name {
    margin-top: 0;
  }
  footer .navbar-nav {
    text-align: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-top: 0;
    display: unset;
  }
  footer .nav-item {
    display: inline-block;
    width: 125px;
  }
  footer .footer-text {
    margin-top: 290px;
  }
  footer .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */