$brandColor1: #d014af;
$brandColor2: #0208df;
$mainFont: 'Noto Sans', sans-serif;
$secondFond: 'Noto Serif', serif;
html, body {
    min-height: 100%;
}
// html {
//     height: 100%;
// }
body{
    font-family: $mainFont;
}
h1, h2, h3, h4, h5{
    font-family: $secondFond;
}
h1{
    font-size: 20vh;
    color: #fff;
}

ul{
    list-style: none;
    margin: 0;

}
.main-banner{
    background: url(../img/01_main_photo.png) no-repeat fixed;
    // background-size: cover;
    // height: 100vh;
    background-size: 100% auto;
    // height: 100vh;
    h1{
        font-size: 24vh;
        color: #fff;
        margin-top: 80px;
        line-height: 1.12;
    }
   }

.main-banner-text{
    padding: 25px 0;
    div:last-child p{
        color: #fff;
        font-style: italic;
        font-size: 12px;
        padding: 5px 0 60px 0;
        text-align: right;
    }
}
// best works style
.date{
    font-size: 14px;
    color: $brandColor2;
    font-weight: 600;
}
.annotation{
    font-size: 14px;
    color: $brandColor2;
    font-style: italic;
}
.mens-shop img:nth-child(2){
    margin-top:-386px;
    margin-left: 68px;
}
.mens-shop{
    h3{
        -webkit-writing-mode: vertical-rl; 
        writing-mode:tb-rl;
        display: inline;
        margin-top: 147px;
        height: 100%;
        float: left;
    }
}
.best-works{
    h3{
        color: $brandColor1;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 44px;
    }
    h5{
        color: $brandColor2;
        font-size: 18px;
        margin-bottom: 43px;
    }
}
.work-desciption p{
    font-size: 14px;
}
.mens-shop .work-desciption{
    width: 65%;
    height: 100%;
    display: inline-block;
    padding-top: 40%;
    
}
.date-left{
    -moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
    float: left;
    height: 100%;
    width: 16%;
}
.date-right{
    -webkit-writing-mode: vertical-rl; 
        writing-mode:tb-rl;
        display: inline;
        float: left;
}

.best-logo h3{
    -moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
    white-space: nowrap;
    margin:0;
    margin-left: 190px;
}
.best-logo .work-desciption{
    margin-top: 86px;
    padding-left: 158px;
    padding-right: 50px;
}
.best-logo .annotation{
    display: inline-block;
    width: 18%;
    margin-left: 20px;
}
.best-logo .bp{
    margin-left: 20px;
    margin-top: 142px;
}

.best-banners h3{
    -webkit-writing-mode: vertical-rl; 
        writing-mode:tb-rl;
        display: inline;
        margin-top: 68px;
        padding-left: 77px;
        height: 52%;
        float: left;
}
.best-banners .date-right{
    margin-top: 68px;
    margin-left: 230px;
    height: 52%;
}
// more works style
.more-works-main  h3{
    color: $brandColor1;
    font-size: 48px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 44px;
}
.work-picker {
    margin-bottom: 60px;
   
    ul{
        display: flex;
        width: 100%;
        text-align: center;
        flex-direction: row;
    }
    li{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left:1.7rem;
        margin-right:1.7rem;
        width: 81px;

    }

}
.work-tmbl{
    position: relative;
}
.work-tmbl p{
    position: absolute;
    top: 43%;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
// about me style
.aboutme-main h3{
    color: $brandColor1;
    font-size: 48px;
}


.aboutme-main h3:first-child{
    -moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
    width: 341px;
    margin-top: 86px;
}

.aboutme-main p{
    font-size: 14px;
}

.aboutme-main h5{
    color: $brandColor2;
    font-size: 18px;
}
// contact style
.contacts-main{
    margin-bottom: 86px;
    margin-top: -25px;
}
.contacts-main h3{
    color: $brandColor1;
    font-size: 48px;
}
.contacts-main i{
    color: $brandColor1;
}
.contacts-main a{
    color: $brandColor2;
}

// Footer style
footer{
    height: 300px;
    background: rgb(3,39,226);
background: -moz-linear-gradient(10deg, rgba(3,39,226,1) 17%, rgba(208,20,175,1) 54%);
background: -webkit-linear-gradient(10deg, rgba(3,39,226,1) 17%, rgba(208,20,175,1) 54%);
background: linear-gradient(10deg, rgba(3,39,226,1) 17%, rgba(208,20,175,1) 54%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0327e2",endColorstr="#d014af",GradientType=1);
}

footer .navbar{
    padding-top: 98px;
}

.footer-text{
    color: #fff;
    font-size: 14px;
    margin-top: 110px;
}

@media (min-width: 1200px){
    .main-banner .container {
        max-width: 1300px;
    }
}

